RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^home$ /home.php
RewriteRule ^about$ /about.php
RewriteRule ^stuff$ /stuff.php
RewriteRule ^contact$ /contact.php
RewriteRule ^not-ready-yet$ /under_construction.php
RewriteRule ^new-year-countdown$ /nye.php