#content {
    margin: 5% 0 0 27%;
}
#content td {
    color: white;
    font-size: 16pt;
    line-height: 2;
    overflow: hidden;
}
#cool {
    vertical-align: middle;
    margin-left: 5px;
}
#car {
    margin-top: 25%;
    animation: drive 5s linear infinite;
    width: 150px;
    height: auto;
}
@keyframes drive {
    0%   { transform: translate(-120%, 0); }
    100% { transform: translate(800%, 0); }
}
#counter {
    width: 50%;
    margin: 3% auto;
}
#counter img {
    display: block;
    margin: auto;
}