html {
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    background-image: url('/images/gradient.png');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
    height: 100%;
}
#container {
    display: block;
    width: 100%;
}
#clock {
    width: 50%;
    margin: 30% auto;
    text-align: center;
    font-size: 100pt;
    color: white;
}
#fireworks {
    margin-top: -75%;
}
#f1 {
    margin-left: 20%;
    margin-top: -15%;
    visibility: hidden;
}
#f2 {
    margin-left: -5%;
    margin-top: 20%;
    visibility: hidden;
}
#f3 {
    margin-left: 68%;
    visibility: hidden;
}
