<!DOCTYPE html>
<html>

<head>
    <title>milo.pizza</title>
    <link rel="stylesheet" type="text/css" href="/style/header.css" />
    <link rel="stylesheet" type="text/css" href="/style/base.css" />
    <script type="text/javascript" src="/js/header-animate.js"></script>
</head>

<body>

    <table id="header">
        <tr id="title">
            <td><a id='home' href='z/home'>MILO</a></td>
            <td>DOT</td>
            <td>PIZZA</td>
            <td style="width: 100%"></td>
        </tr>
    </table>
    <table id="nav">
        <tr class="menu">
            <td><img class="select" src="/images/lifeforce-ship-still.gif" /></td>
            <td class="menu-item"><a id="about" href="zabout"><b>About</b></a></td>
        </tr>
        <tr class="menu">
            <td><img class="select" src="/images/lifeforce-ship-still.gif" /></td>
            <td class="menu-item"><a id="stuff" href="zstuff"><b>Stuff</b></a></td>
        </tr>
        <tr class="menu">
            <td><img class="select" src="/images/lifeforce-ship-still.gif" /></td>
            <td class="menu-item"><a id="contact" href="zcontact"><b>Contact</b></a></td>
        </tr>
        <tr class="menu">
            <td><img class="select" src="/images/lifeforce-ship-still.gif" /></td>
            <td class="menu-item"><a id="blog" href="http://album-reviews.herokuapp.com"><b>Blog</b></a></td>
        </tr>
    </table>